*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "work-sans", sans-serif; 
}
html{
    scroll-behavior: smooth;
}
/* start components */
.special-heading{
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
    font-size: 100px;
    margin: 0;
}
.special-heading + p{
    margin: -25px 0 0;
    text-align: center;
    color: #797979;
    font-size: 20px;
}
@media (max-width:776px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -15px;
    }
}
/* end components */
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-pading:60px;
    --section-background:#f6f6f6;
    --main-transitin:.3s;
}
.contaner{
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:768px) {
    .contaner{
        width: 750px;
    }
}
@media (min-width:992){
    .contaner{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .contaner{
        width: 1170px;
    }
} 
/* start-header*/
.header .contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo{
    width: 60px;
}
.header .nav{
    position: relative;
    cursor: pointer;

}
.header .nav .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.hide{
    display: none;
}
.header .nav .icon span{
    background-color: #222;
    height: 2px;
    position: absolute;
}
.header .nav .icon span:first-child{
    transition: var(--main-transitin);
    width: 100%;
    top: 0;
}
.header .nav .icon span:nth-child(2){
    transition: var(--main-transitin);
    width: 60%;
    top: 6px;
}
.header .nav .icon span:last-child{
    transition: var(--main-transitin);
    width: 100%;
    top: 12px;
}
.header .nav:hover .icon span:nth-child(2){
    width: 100%;
}
.header .nav.click .icon span:first-child,
.header .nav.click .icon span:last-child{
    background-color: red;
    top: 6px;
}
.header .nav.click .icon span:first-child{
    transform: rotate(45deg);
}
.header .nav.click .icon span:last-child{
    transform: rotate(-45deg);
}
.header .nav.click .icon span:nth-child(2){
    width: 0;
}

.header .nav .link{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    min-width: 200px;
    right: 0;
    top: calc(100% + 15px);
    z-index: 1;
}
.header .nav .link::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .nav .link a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #222;
    transition: var(--main-transitin);
}
.header .nav .link a:hover{
    padding-left: 25px;
}
.header .nav .link li:not(:last-child) a{
    border-bottom:  solid 1px #ddd;
}
/* end-header */
/* start landing */
.landing{
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing .content{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 320px;
    max-width: 100%;
    text-align: center;
}
.landing .content h1{
    margin: 0;
    text-transform: capitalize;
    font-size: 50px;
    color: var(--main-color);
    font-weight: bold;
}
.landing .content p{
    font-size: 19px;
    text-align: center;
    line-height: 30px;
}
/* end landing */
/* start features */
.features{
    padding: var(--section-pading) 0;
    background-color: var(--section-background);
}
.features .contaner{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    gap: 30px;

}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    text-transform: capitalize;
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 18px;
}
/* end features */
/* services start */
.services .contaner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services{
    padding: var(--section-pading) 0;
}
.services .services-content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    margin-top: 30px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
    
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;

}
.services .services-content .srv .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}
@media (max-width:1199px) {
    .image-column{
        display: none;
    }
}
.services .services-content .image img{
    width: 260px;
}
@media (max-width:767px) {
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
/* services end */
/* start portfolio */
.portfolio{
    padding: var(--section-pading) 0;
    background-color: var(--section-background);
}
.portfolio .contaner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .image-portfolio{
    background-color: white;

}
.portfolio .portfolio-content .image-portfolio img{
    width: 100%;
}
.portfolio .portfolio-content .image-portfolio .info { 
    padding: 20px;
}
.portfolio .portfolio-content .image-portfolio .info h3{
    margin: 0;
}
.portfolio .portfolio-content .image-portfolio .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
@media (max-width:767px) {
    .portfolio .portfolio-content .image-portfolio .info{
        text-align: center;
    }
}

/* end portfolio */
/* strat about */
.about{
    padding-top: var(--section-pading);
    padding-bottom: calc(var(--section-pading + 60px));
}
.about .contaner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:992px) {
    .about .about-content{
        flex-direction: column;
    }
}
.about .about-content .image{
    width: 250px;
    position: relative;
    height: 375px;
}
@media (max-width:992px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before{
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: '';
    width: 120px;
    height: 300px;
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    z-index: -1;
    top: -40px;
}
@media (max-width:992px) {
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    color: #222;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.about .about-content .text p:last-of-type{
    color: #777;
    line-height: 2;
}
/* end about */
/* start contact */
.contact{
    padding: var(--section-pading 0);
    background-color: var(--section-background);
}
.contact .contaner .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .contact-content{
    padding: var(--section-pading) 0;
    text-align: center;
}
.contact .contact-content .label{
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2;
    margin-bottom: 15px;
}
.contact .contact-content .link{
    display: block;
    color: var(--main-color);
    font-size: 35px;
    text-decoration: none;
}
.contact .contact-content .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .contact-content .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
.contact .contact-content .social i:hover{
    color: var(--main-color);
}
@media (max-width:767px) {
    .contact .contact-content .label,
    .contact .contact-content .link{
        font-size: 25px;
    }
}
/* end contact */
/* srart footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    padding: 30px 10px;
    text-align: center;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */